.mobile-menu {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #f6f4f4;
    padding: 0.5rem 2rem;
}
.mobile-menu svg {
    width: 3rem;
    height: 3rem;
    vertical-align: middle;
}
.mobile-menu svg path {
    fill: #16325c;
}
.wrapper {
    max-width: calc(65em - 23em);
    margin: 2rem;
    color: #16325c;
}
.aside {
    width: auto;
}
.aside .details {
    padding: 1.5em 2em;
    text-align: center;
    display: none;
}
.aside .details a {
    border: 1px solid #DDD;
    border-radius: 0.25rem;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    color: #02a0e0;
}
.aside .details a:hover {
    background: #02a0e0;
    color: #FFF;
    border-color: #02a0e0;
}
.card {
    background: #f6f4f4;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
    padding-bottom: 1rem;
}
.card > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.card > ul > li {
    display: block;
    line-height: 1rem;
}
.card > ul > li > span {
    display: block;
    padding: 2rem 2rem 1rem 2rem;
    font-weight: bold;
    font-size: 1.25rem;
}
.card > ul > li > span code {
    opacity: 0.5;
    font-size: 0.875rem;
    color: #16325c;
    background: transparent;
}
.card > ul > li > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.card > ul > li > ul > li {
    line-height: 1rem;
}
.card > ul > li > ul > li > a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #111;
}
.card > ul > li > ul > li > a:hover {
    background: rgba(3,160,224,.1);
}
.card > ul > li > ul > li > a:active {
    background: #128dd8;
    color: #FFF;
}
.card .error {
    padding: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    line-height: 1.5rem;
}
.card .loading {
    text-align: center;
    margin-top: 2rem;
}
.card .loading svg {
    width: 4rem;
    height: 4rem;
}
.card .loading svg path {
    fill: #02a0e0;
}
h1, h2, h3, h4 {
    color: #16325c;
}
h1 {
    font-weight: normal;
}
h1 svg {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    margin-bottom: -0.29rem;
}
h1 svg path {
    fill: #02a0e0;
}
h2 code {
    opacity: 0.75;
    font-size: 1.25rem;
}
.header-anchor {
    color: #02a0e0;
    text-decoration: none;
    margin-right: 0.5rem;
}
code {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}
p {
    line-height: 1.75rem;
}
ul li {
    line-height: 1.75rem;
}
p code,
ul li code {
    background: rgba(206, 206, 206, 0.3);
    padding: 0.2rem 0.3rem;
    color: #333;
    border-radius: 0.25rem;
}
.example {
    margin-bottom: 2rem;
}
.example div:first-child {
    padding: 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD;
}
.example div:last-child code pre {
    display: block;
    background: #222;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
    color: #FFF;
    overflow: auto;
    margin: 0;
}
div.error {
    background: #ffe6e5;
    border: 2px solid #e0002e;
    padding: 0.25rem 1.5rem;
    border-radius: 0.5rem;
}
div.error code {
    background: rgba(224, 0, 46, 0.05);
    color: #111;
}
div.error ul {
    margin: 0;
    padding: 0 0.25rem;
}
.tabs {
    border-bottom: 1px solid #16325c;
}
.tabs ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.tabs ul li {
    display: inline-block;
}
.tabs ul li button {
    border-top: 1px solid #16325c;
    border-right: 1px solid #16325c;
    border-bottom: 0;
    border-left: 1px solid #16325c;
    background: #FFF;
    padding: 0.5rem 1rem;
}
.tabs ul li:first-child button {
    border-radius: 0.25rem 0 0 0;
}
.tabs ul li:last-child button {
    border-left: 0;
    border-radius: 0 0.25rem 0 0;
}
.tab-contents {
    border-bottom: 1px solid #16325c;
    border-left: 1px solid #16325c;
    border-right: 1px solid #16325c;
    border-radius: 0 0 0.25rem 0.25rem;
}
.tab-contents pre {
    margin: 0;
}
@media (min-width: 65em) {
    .mobile-menu {
        display: none;
    }
    .wrapper {
        position: relative;
        padding-left: 23em;
        margin: 3rem auto;
    }
    .aside {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 20em;
    }
    .aside .details {
        display: block;
    }
}

.spin {
    animation: spin 2s infinite linear;
}
@keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
}